/* ## Entry
--------------------------------------------- */

.entry {
	@include margin-leader(2);
	@include margin-trailer(2);
	@include breakpoint($kyle) {
		@include margin-trailer(4);
		&:last-of-type {
			@include margin-trailer(3);
		}
	}
}

/* ## Entry Header
--------------------------------------------- */

.entry-title {
	@include breakpoint($kyle) {
		font-weight: 700;
		font-size: 1.875rem;
		@include adjust-leading-to(3);
	}
}

.entry-meta {
	@include margin-trailer();
}

.single .entry-header,
.page .entry-header {
	text-align: center;
	@include margin-trailer(2);
	@include breakpoint($kyle) {
		@include margin-trailer(3);
	}
	.entry-title {
		@include adjust-leading-to(3);
		font-weight: normal;
		@include hyphens(manual);	
		@include breakpoint($kyle) {
			font-size: 3.5rem;
			@include adjust-leading-to(5);
		}
	}
	.entry-meta {
		@include breakpoint($kyle) {
			font-size: 1.25rem;
			@include adjust-leading-to(2);
			@include margin-leader();	
		}
	}
}

/* ## Entry Content
--------------------------------------------- */

.page .entry-content {
	@include margin-trailer(2);
}

.entry-content {
	h2 {
		@include margin-trailer();
	}
	p {
		&.iframe-container {
			@include pie-clearfix;
		}
		iframe {
			float: left;
		}
	}
	& > p, & > ul, & > ol, & > dl {
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul, ol, dl {
		@include margin-trailer(2);
		margin-left: $base-line-height * 3;
		ol, ul, dl {
			margin-bottom: 0;
		}
	}
	ol > li {
		list-style-type: decimal;
	}
	ul > li {
		list-style-type: disc;
	}
}

a.more-link {
	@extend button;
	display: inline-block;
	text-transform: none;
	@include rhythm-padding(0.5);
	@include ws-padding(1.5);
	border-radius: 3px;
}

.wp-post-image {
	margin: auto;
	@include margin-trailer(2);
}

/* ## Sticky post styles
--------------------------------------------- */

.sticky {
	.entry-title {
		&:after {
			content: "закреплено";
			float: right;
			font-size: 1rem;
			@include adjust-leading-to(2);
			font-style: italic;
		}
	}
}