/* ## Site Header Navigation Container
--------------------------------------------- */

.site-header .nav-header {
	float: none;
	@include breakpoint($kenny) {
		float: right;
		@include rhythm-padding();
	}
}

/* ## The Menu Itself (Genesis Header Nav plugin)
--------------------------------------------- */

.site-header .nav-header .genesis-nav-menu {
	display: none;
	@include breakpoint($kenny) {
		display: block;
	}
	.menu-item {
		display: inline-block;
		a {
			display: block;
			@include rhythm-padding(2);
			@include ws-padding(2);
			&:hover {
				color: ws-color("primary-marsala");
			}
		}
	}
}

/* ## Responsive Trigger
--------------------------------------------- */

#trigger-overlay {
	display: inline-block;
	height: 0.6875rem*3;
	width: 0.6875rem*3;
	float: right;
	@include rhythm-margins(2);
	cursor: pointer;
	path {
		@include single-transition(fill, 0.1s);
	}
	&:hover path {
		@include single-transition(fill, 0.1s);
		fill: ws-color("primary-marsala");
	}
	@include breakpoint($kyle) {
		@include rhythm-margins(2.5);
	}
	@include breakpoint($kenny) {
		display: none;
	}
}